<div class="chat_container">
</div>
<div id="wrapper">
  <div class="session-status-container text-center">
    <h3><%= @request.title %></h3>
    Session owner: <%= @request.user.name %><br/>
    Coach: <%= User.find(@request.receiver_id).name %><br/>
  </div>
  
      <div class="message-container">
        <br/>
        <div class="message-north closed-thread">
          
          <div class="message-thread">
            <% @request.messages.each do |m| %>
            <% if current_user.name == m.sender_name %>
              <div class="message bubble-right">
            <% else %>
              <div class="message bubble-left">
            <% end %>
                <label class="message-user"><%=m.sender_name%></label>
                <label class="message-timestamp"><%=time_ago_in_words(m.created_at)%> ago</label>
                <p><%=m.raw_text%></p>
              </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>

