<!DOCTYPE html>
<html>
<head>
  <title>Blint</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <%= javascript_include_tag "http://localhost:9292/faye.js"%>
  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <script src="http://timeago.yarp.com/jquery.timeago.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/jq-2.1.4,dt-1.10.9/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/r/dt/jq-2.1.4,dt-1.10.9/datatables.min.js"></script>
  <%= csrf_meta_tags %>
  <script>
    var client;
    $(function() {
      // Setting up a global Faye client
      client = new Faye.Client("http://#{ request.host }:9292/faye");
    });
    $(document).ready(function(){
      <% if current_user.present? %>
      function keep_online(){
        $.ajax({
            url:"/users/<%=current_user.id%>/keep_online",
            type: 'POST',
            success: function(data){
                $.each(data, function(k,v){
                    if(v.online){
                        $("#indicator_"+v.id).html('online');
                    }else{
                        $("#indicator_"+v.id).html('offline');
                    }
                });
                setTimeout(keep_online, 10000);
            }
        });
      }
      setTimeout(keep_online, 10000);
      <% end %>
    });
  </script>
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
        <li><a href="/users/sign_up">Register</a></li>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/sessions"></a></li>
        <% else %>
        <li><%#= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <li class="pull-right">
          <a  href="/messages">
            <div class="tm-message">
            <i class="fa fa-envelope-square" style="font-size:26px;"></i> 
            <% if current_user.unread_messages_count > 0 %>
            <i class="tmn-counts message-count-main message-count">
              <%=current_user.unread_messages_count%>
            </i>
            <% end %>
            </div>
          </a>
          <a  href="/requests">
            <div class="tm-message">
            <i class="fa fa-user-plus" style="font-size:26px;"></i> 
            <% if current_user.pending_requests_count > 0 %>
            <i class="tmn-counts request-count message-count">
              <%=current_user.pending_requests_count%>
            </i>
            <% end %>
          </div>
          </a>
        </li>
        <li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.url %>
            <img src="<%=current_user.avatar.url%>" class="img-header">
            <% else %>
            <img src="http://www.fitandboxe.it/wp-content/uploads/2014/09/genericUserImg.png" class="img-header">
            <% end %>
             <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile/<%=current_user.id%>">My Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
        <li> <a href=""> </a></li>
        <li> <a href=""> </a></li>
        <li> <a href=""> </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Published Coachings <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="/archived_messages">Archived</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/published_messages">Published</a></li>
          </ul>
        </li>
        <% end %>
        <li> <a href=""></a></li>
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <% if session[:user_id] or user_signed_in?%>
        <li><a href="/messages">Current Chats</a></li>
        <li> <a href=""></a></li>
        <% if current_user.role == 'Coach'%>
        <li><a href="/requests">Requests</a></li>
        <% elsif current_user.role == 'Client'%>
        <li><a href="/coaches">Request Coaching</a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
